<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.admin-page')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div class="glass-effect" id="dashboard">
        <h2 th:text="#{swiftly.title.admin-page}"/>
        <a th:href="@{/admin/dashboard/users}" class="my-button" th:text="#{swiftly.admin.users}"/>
        <a th:href="@{/admin/dashboard/clients}" class="my-button" th:text="#{swiftly.admin.clients}"/>
        <a th:href="@{/admin/dashboard/orders}" class="my-button" th:text="#{swiftly.admin.orders}"/>
        <a th:href="@{/admin/dashboard/products}" class="my-button" th:text="#{swiftly.admin.products}"/>
        <a th:href="@{/admin/dashboard/categories}" class="my-button" th:text="#{swiftly.admin.categories}"/>
        <a th:href="@{/admin/dashboard/suppliers}" class="my-button" th:text="#{swiftly.admin.suppliers}"/>
        <a th:href="@{/admin/dashboard/warnings}" class="my-button" th:text="#{swiftly.admin.warnings}"/>
        <a th:href="@{/admin/dashboard/promotions}" class="my-button" th:text="#{swiftly.admin.promotions}"/>
    </div>

</div>
</body>
</html>