<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.admin-login-page')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div id="form-layout">
        <div>
            <form style="width: auto" class="glass-effect">
                <h2 th:text="#{swiftly.login.header}"/>
                <select style="width: auto" class="glass-select admin-select">
                    <option selected value="" th:text="#{swiftly.dashboard.choose-admin}"/>
                    <option th:each="admin : ${listAdminUsers}"
                            th:value="${admin.username}"
                            th:text="${admin.username}"/>
                </select>
            </form>
        </div>
    </div>

</div>
</body>
<script>
    document.querySelector('.admin-select')
            .addEventListener('change', function () {
                if (this.value !== '')
                    fetch(`http://localhost:8000/api/v1/users/admin/${ this.value }`, {
                        method : "PUT"
                    }).finally(() => window.location.href = '/admin/dashboard')
            })
</script>
</html>