<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.dashboard-order')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div class="glass-effect go-back">
        <svg viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
    </div>

    <div class="glass-effect" id="dashboard">
        <h2 class="dashboard-title">
            <th:block th:text="#{swiftly.title.dashboard-order}"/>
            📦
        </h2>
        <div class="consult">
            <h3 th:text="#{swiftly.dashboard.table}"/>
            <table class="crud-table">
                <thead>
                <tr>
                    <th th:text="#{swiftly.dashboard.table.id}"/>
                    <th th:text="#{swiftly.dashboard.table.order-date}"/>
                    <th th:text="#{swiftly.dashboard.table.client-id}"/>
                    <th th:text="#{swiftly.dashboard.table.total-price}"/>
                    <th th:text="#{swiftly.dashboard.table.state}"/>
                </tr>
                </thead>
                <tbody>
                <tr class="order-row" th:each="order : ${ordersResponse}">
                    <td class="order-id" th:text="${order.id}"/>
                    <td th:text="${order.date}"/>
                    <td th:text="${order.client.id}"/>
                    <td th:text="${order.totalPrice}"/>
                    <td>
                        <select class="glass-select order-select">
                            <option th:each="ordertest : ${T(com.raks.swiftly.domain.model.enums.OrderState).values()}"
                                    th:value="${ordertest.name()}"
                                    th:text="#{__${ordertest.getRef()}__}"
                                    th:selected="${ordertest.name.equalsIgnoreCase(order.state)}"/>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
<script>
    document.querySelectorAll('.order-row')
            .forEach(row => {
                const orderId = row.querySelector('.order-id').innerHTML
                const orderSelect = row.querySelector('.order-select')

                orderSelect.addEventListener('change', function () {
                    fetch(`http://localhost:8000/api/v1/orders/${ orderId }`, {
                        method : "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body   : JSON.stringify(orderSelect.value)
                    })
                })
            })
</script>
</html>