<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.dashboard-category.detail')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div class="glass-effect go-back">
        <svg viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
    </div>

    <div class="glass-effect" id="dashboard" th:object="${categoryResponse}">
        <h2 class="dashboard-title">
            <th:block th:text="#{swiftly.title.dashboard-category.detail}"/>
            📝
        </h2>
        <div class="consult">
            <h3 th:text="#{swiftly.dashboard.code(*{code})}"/>
            <div class="grid-wrapper grid-category">

                <div class="glass-input">
                    <label for="description" th:text="#{swiftly.dashboard.label.description}"/>
                    <input type="text" th:field="*{description}" disabled>
                </div>

                <div class="glass-input">
                    <label for="categoryParent" th:text="#{swiftly.dashboard.label.category-parent}"/>
                    <input type="text"
                           th:value="*{categoryParent != null } ? *{categoryParent.code} : #{swiftly.dashboard.label.category-none}"
                           disabled>
                </div>

                <div class="glass-input">
                    <label for="categoriesChild" th:text="#{swiftly.dashboard.label.category-child}"/>
                    <ul>
                        <li th:each="category : *{categoriesChild}" th:text="${category.code}"/>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>