<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table bgcolor="#f6f9fc" border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border: 0px; margin: 0px; padding: 0px;">
    <tbody>
    <tr>
        <td height="64">
            <div>&nbsp;</div>
        </td>
    </tr>

    <tr>
        <td style="border: 0px; margin: 0px; padding: 0px;">

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-top-left-radius: 16px; border-top-right-radius: 16px; margin: 0px auto; min-width: 600px;">
                <tbody>
                <tr>
                    <td style="border: 0px; margin: 0px; padding: 0px;">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="4" height="48"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td align="left" height="29" width="70" style="border: 0px; margin: 0px; padding: 0px;">
                                    <a style="border: 0px; margin: 0px; padding: 0px; text-decoration: none; outline: 0px;"
                                       href="https://swiftly.com">
                                        <img alt="Swiftly" border="0" height="29" width="auto"
                                             style="border: 0px; margin: 0px; padding: 0px; color: rgb(103, 114, 229); display: block; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Ubuntu, sans-serif; font-size: 12px; font-weight: normal;"
                                             src="https://i.imgur.com/UI6FV0p.png">
                                    </a>
                                </td>
                                <td width="423" style="border: 0px; margin: 0px; padding: 0px;">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" height="32"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; color: rgb(65, 69, 82);">


                                    Hello,


                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; color: rgb(65, 69, 82);">


                                    We received a request to reset the password for the Swiftly account associated with
                                    <th:block th:text="${email}"/>
                                    .


                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="3" height="24"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; color: rgb(65, 69, 82); font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-size: 16px; line-height: 30px;">


                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="36"
                                                style="border: 0px; margin: 0px; padding: 0px; background-color: rgb(137, 23, 152); border-radius: 4px; text-align: center;">
                                                <a style="border: 0px; margin: 0px; padding: 0px; color: rgb(255, 255, 255); height: 28px; text-align: center; text-decoration: none; outline: 0px;"
                                                   th:href="@{'http://localhost:8080/reset/' + ${token}}">
                  <span style="border: 0px; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-size: 16px; font-weight: bold; height: 36px; line-height: 30px; text-decoration: none; white-space: nowrap; width: 100%; outline: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Reset your password
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="24"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; color: rgb(65, 69, 82);">

                                    If you didn’t request to reset your password, contact us via our support site.
                                    No changes were made to your account yet.

                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td height="4"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px; max-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;">
                            <tbody>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-family: -apple-system, &quot;SF Pro Display&quot;, &quot;SF Pro Text&quot;, Helvetica, sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; color: rgb(65, 69, 82);">


                                    Thanks,
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td height="4"
                                                style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px; max-height: 1px;">
                                                <div>&nbsp;</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    Swiftly


                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="8"
                                    style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div style="background-color: rgb(246, 249, 252);">
                            <table border="0" cellpadding="0" cellspacing="0" width="600"
                                   style="min-width: 600px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px;"
                                   bgcolor="#ffffff">
                                <tbody>
                                <tr>
                                    <td height="40">
                                        <div>&nbsp;</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="min-width: 600px;"
                               bgcolor="#f6f9fc">
                            <tbody>
                            <tr>
                                <td height="32">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>


                            <tr>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; color: rgb(104, 115, 133); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Ubuntu, sans-serif; font-size: 12px; line-height: 20px; text-align: center;">
        <span style="border: 0px; margin: 0px; padding: 0px; color: rgb(104, 115, 133); text-decoration: none; outline: 0px;">
          Having trouble signing in? Get help at Swiftly Support.
        </span>
                                </td>
                                <td style="border: 0px; margin: 0px; padding: 0px; font-size: 1px; line-height: 1px;"
                                    width="48">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td height="15">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>


                            <tr>
                                <td height="32">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>