<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.dashboard-promotion')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div class="glass-effect go-back">
        <svg viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
    </div>

    <div class="glass-effect" id="dashboard">
        <h2 class="dashboard-title">
            <th:block th:text="#{swiftly.title.dashboard-promotion}"/>
            💸
        </h2>
        <div class="consult">
            <h3 th:text="#{swiftly.dashboard.table}"/>
            <table class="crud-table">
                <thead>
                <tr>
                    <th th:text="#{swiftly.dashboard.table.id}"/>
                    <th th:text="#{swiftly.dashboard.label.description}"/>
                    <th th:text="#{swiftly.dashboard.label.start-date}"/>
                    <th th:text="#{swiftly.dashboard.label.end-date}"/>
                    <th th:text="#{swiftly.dashboard.label.discount}"/>
                    <th th:text="#{swiftly.dashboard.label.products}"/>
                    <th th:text="#{swiftly.dashboard.label.delete}"/>
                </tr>
                </thead>
                <tbody>
                <tr class="promotion-row" th:each="promotion : ${promotionsResponse}">
                    <td class="promotion-id" th:text="${promotion.id}"/>
                    <td th:text="${promotion.description}"/>
                    <td th:text="${promotion.period.startDate}"/>
                    <td th:text="${promotion.period.endDate}"/>
                    <td th:text="${promotion.discount}"/>
                    <td>
                        <ul style="list-style: none">
                            <li th:each="product : ${promotion.products}" th:text="${product.model}"/>
                        </ul>
                    </td>
                    <td>
                        <button class="delete-button">
                            <svg viewBox="0 0 448 512">
                                <path fill="#FFFFFF"
                                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal-window modal-window-promo">
        <div class="glass-effect">
            <h1 th:text="#{swiftly.modal.confirm.delete}"/>
            <div class="modal-option">
                <button class="modal-open modal-button">
                    <svg viewBox="0 0 448 512">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                </button>
                <button class="modal-close modal-button">
                    <svg viewBox="0 0 384 512">
                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    let promotionId
    const modal = document.querySelector('.modal-window-promo')

    document.querySelectorAll('.promotion-row')
            .forEach(row => {
                const deleteButton = row.querySelector('.delete-button')

                deleteButton.addEventListener('click', function () {
                    promotionId = row.querySelector('.promotion-id').innerHTML
                    modal.style.visibility = 'visible'
                    modal.style.opacity = '1'
                })
            })

    document.querySelector('.modal-window-promo .modal-close')
            .addEventListener('click', function () {
                modal.style.visibility = 'hidden'
                modal.style.opacity = '0'
            })

    document.querySelector('.modal-window-promo .modal-open')
            .addEventListener('click', function () {
                fetch(`http://localhost:8000/api/v1/promotions/${ promotionId }`, {
                    method: "DELETE"
                }).finally(() => window.location.reload())
            })

</script>
</html>