<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" th:href="@{/favicon.ico}">
    <title th:text="'Swiftly - ' + #{__${title}__}"/>
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <script defer="defer" th:src="@{/scripts/core.js}"></script>
    <script defer="defer" th:src="@{/scripts/gradient.js}"></script>
</head>