<!DOCTYPE html>
<html lang="">
<div th:replace="~{fragments/head
        :: head('swiftly.title.dashboard-product')}"/>
<body>
<canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
<div id="app">

    <div th:replace="~{fragments/settings :: settings}"/>

    <div class="glass-effect go-back">
        <svg viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
    </div>

    <div class="glass-effect" id="dashboard">

        <h2 class="dashboard-title">
            <th:block th:text="#{swiftly.title.dashboard-product}"/>
            🚀
        </h2>

        <div class="consult">
            <h3 th:text="#{swiftly.dashboard.table}"/>
            <table class="crud-table">
                <thead>
                <tr>
                    <th th:text="#{swiftly.dashboard.table.id}"/>
                    <th th:text="#{swiftly.dashboard.table.product-code}"/>
                    <th th:text="#{swiftly.dashboard.table.price}"/>
                    <th th:text="#{swiftly.dashboard.table.model}"/>
                    <th th:text="#{swiftly.dashboard.table.brand}"/>
                    <th th:text="#{swiftly.dashboard.table.accumulated-expenses}"/>
                </tr>
                </thead>
                <tbody>
                <tr class="product-row" th:each="product : ${productsResponse}">
                    <td class="product-id" th:text="${product.id}"/>
                    <td th:text="${product.code}"/>
                    <td th:text="${product.price}"/>
                    <td th:text="${product.model}"/>
                    <td th:text="${product.brand}"/>
                    <td th:text="${product.accumulatedExpenses}"/>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</body>
<script>
    document.querySelectorAll('.product-row')
            .forEach(row => {
                const productId = row.querySelector('.product-id').innerHTML

                row.addEventListener('click', function () {
                    window.location.href = `/admin/dashboard/products/${ productId }`
                })
            })
</script>
</html>